<section class="product-navigation">
	<a href="//VisibleHand.io/compliance" class="left">&lsaquo;</a>
	<span class="span-left">Compliance Home</span>
	<span class="quote">&copy; VisibleHand, Inc. 2015</span>
	<a href="//policy.VisibleHand.io" class="right">&rsaquo;</a>
	<span class="span-right">Open Source Policies</span>
</section>